<div class='container' style="padding-top: 20px;">
  <div class='row'>
    <div class='span8'>


<form action="/songs/<%= @song.id %>" method="POST">

TITLE: <input type="text" name="song[title]" value="<%= @song.title %>">
ARTIST: <input type="text" name="song[artist]" value="<%= @song.artist %>">
ALBUM: <input type="text" name="song[album]" value="<%= @song.album %>">
GENRE: <input type="text" name="song[genre]" value="<%= @song.genre %>">
LENGTH: <input type="text" name="song[length]" value="<%= @song.length %>">

<input type="submit" value="Save Changes">
<button name="_method" value="delete" type="submit">DELETE</button>
</form>
    </div>
  </div>
</div>
